.tableContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.transaction-history {
  width: 400px;
  margin: 30px auto 30px auto;
  border: 1px solid #cccccc;
  border-radius: 10px;
}

th {
  width: 200px;
  font-weight: 400;
  color: #f8f8f8;
  padding: 15px 15px;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(23, 232, 9, 1) 100%
  );

  text-align: center;
}
td {
  text-align: center;
  color: #000000;
  padding: 15px 15px;
  border: solid #cccccc;
  border-radius: 10px;
}
tr:nth-child(2n) {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(10, 24, 53, 1) 100%
  );
}
